@{
    ViewBag.Title = "Головна";
}

<h2>Ресурс по замовленню проїзних квитків</h2>

<!--<div class="image_fl"><img src="../Content/images/3.jpg" /></div>-->
<p>Ласкаво просимо на сайт по замовленню проїзних квитків на метро та інші види транспорту.</p>
<!--<div class="image_fr"><img src="../Content/images/2.jpg" /></div>-->
<p>На цьому сайті Ви можете замовити проїзні квитки на кожен наступний місяць, переглянути процес виконання Вашого замовлення. та 
    подивитися список замовлень проїзних. Отримати квиток ви можете у свого профорга групи, коли побачите на сайті інформацію про те, що квитки надруковані</p>
<p>У випадку виникнення проблем звертайтеся по допомогу за електронною адресою andr.kisilevskiy@gmail.com</p>
<div class="image_fr"><img src="../Content/images/1.jpg" /></div>